#body{
 background-color:#BABABA;
  overflow:hidden;
  height: 39rem;
  /* -webkit-clip-path: ellipse(100% 100% at 50% 0%); */
  /* clip-path: ellipse(100% 100% at 50% 0%); */
}
.search-button:hover{
  color:'blue';
}
#heading1{
  font-family: 'Kanit', sans-serif;
  position: absolute;
  top:11rem;
  left: 5.5rem;
  font-size:5rem;
  overflow:hidden;
}
#heading2{
  font-size: 9rem;
  z-index: 0;
  font-family: 'Bebas Neue', cursive;
  color:red;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  position: relative;
  top:13rem;
  left: 11.5rem;
}

#img1{
  /*display: flex;*/
  z-index: -1;
  border-bottom-left-radius: 5.5rem;
  display: block;
  margin-left: 25%;
  margin-right: auto;
  width: 73%;
  margin-top: -12%;
}
#desc{
  width:30%;
  height:5rem;
  z-index: 2;
  position: relative;
  top:-12.5rem;
  left: 6.7rem;
  text-align: center;
  font-family: 'Kanit', sans-serif;
}
.maincomp-2{
  background-color:#1B1B1B;
  height: 87rem;
}
#services{
  font-family: 'Kanit', sans-serif;
  color: aliceblue;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-weight: bold;
  
}
.card-services{
  padding:1rem;
  float: right;
  z-index: 1;
  /* justify-content: center; */
}
.my-card{
  padding: 1rem;
  margin: 1rem;
  border-radius: 5rem;
}
#card1{
  float: right;
  margin-right: 8rem;
}
#card2{
  width: 100%;
  position: absolute;
  top:85rem;
  display: flex;
  padding: 1rem;
  justify-content: center;
 
}
.card-hover{
  margin: 1.5rem 4rem;
 background-color: white;
 /* border: black 1px solid; */
 border-radius: 1rem;
}
#img2{
  display: block;
  z-index: 0;
  position: absolute;
}
.icons{
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.icon{
  margin: 2rem 10rem;
  height: 8rem;
  width: 8rem;
  text-align: center;
}
#main-comp3-h2{
  font-family: 'Kanit', sans-serif;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
#main-comp3-p{
  /* font-family: 'Kanit', sans-serif; */
  font-size: 1.4rem;
}
.titles{
  font-family: 'Kanit', sans-serif;
}
#footer-brand{
  color: red;
  font-size: 4rem;
  font-family: 'Bebas Neue', cursive;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.footer-bottom{
  margin-top: 8rem;
}
.social{
  margin: 1rem 1rem;
}
#insta-icon{
  margin-left:-1.5rem;
}
#webd-body{
  background-color: #1B1B1B;
  height: 111rem;
  z-index: 0;
}
#webd-h1{
  font-family: 'Gruppo', cursive;
  color: white;
  font-size: 5rem;
  text-align: center;
  margin-top: 5rem;
}
#webd-h5{
  color: #575757;
  text-align: center;
  margin: 0rem 10rem;
  font-family: 'Noto Sans JP', sans-serif;
}
#web-img{
  height: 30rem;
  width: 50rem;
  -webkit-filter: brightness(60%);
  filter:brightness(60%);
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 3px 3px 5px 6px red;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px red;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px red;
}
#web-page-img-div{
  /* display: flex; */
  margin-top: 4rem;
  margin-left: 9rem;
  justify-content: center;
}
#web-page-img-h1{
  color: white;
  margin-top: -26rem;
  font-size: 5.5rem;
  margin-left: 39rem;
  position: relative;
  z-index: 2;
}
#webdPageImg2{
  height: 30rem;
  width: 40rem;
  position: relative;
  top: 19rem;
  left: 34rem;
  opacity: 0.75;
  border-radius: 2rem;
}
#para-div{
  color:white;
  margin-left: 5rem;
  margin-right: 30rem;
  position: relative;
  width: 38rem;
  font-size: 1.5rem;
  bottom: 8rem;
}
.main-footer{
  border-top: solid darkgrey 5px;
  padding-top: 2.5rem;
}
#webd-page-section2{
  margin: 6rem 0rem;
}
#pf-img{
  height: 38rem;
  width: 58rem;
  position: relative;
  -webkit-filter: brightness(60%);
  filter:brightness(60%);
  margin-top: 3rem;
  margin-left: -3rem;
  z-index: 1;
  -webkit-box-shadow: 3px 3px 5px 6px white;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px white;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px white;
}
#pf-body{
  background-color: #1B1B1B;
  height: 117rem;
  z-index: 0;
}
.para{
  font-family: 'Antonio', sans-serif;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  margin: 3rem 0rem;
}
#pf-page-img-h1{
  color: white;
  margin-top: -26rem;
  font-size: 5.5rem;
  margin-left: 46rem;
  position: relative;
  z-index: 2;
}
#SEO-img{
  height: 30rem;
  width: 50rem;
  -webkit-filter: brightness(50%);
  filter:brightness(50%);
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 3px 3px 5px 6px white;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 6px white;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 6px darkgrey;
}
#SEOPageImg2{
  height: 25rem;
  width: 35rem;
  position: relative;
  top: 19rem;
  left: 37rem;
  opacity: 0.75;
  border-radius: 2rem;
  -webkit-filter: brightness(150%);
  filter:brightness(150%);
}
#btn{
  margin-left: 40rem;
  margin-bottom: 2rem;
}